.Background {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.Background__Button-theme {
  z-index: 2;
  backdrop-filter: blur(24px);
  width: 64px;
  height: 64px;
  position: static;
  float: left;
  top: 16px;
  left: calc(50% + 800px);
}

.Background__Background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  inset: 0;
}
