{
  "presets": [
    ["env", { "targets": { "electron": "1.4" }, "useBuiltIns": true }],
    "stage-2",
    "react"
  ],
  "plugins": ["add-module-exports"],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["babel-plugin-dev-expression"]
    },
    "development": {
      "plugins": [
        "transform-class-properties",
        "transform-es2015-classes",
        "tcomb"
      ],
      "presets": ["react-hmre"]
    }
  }
}
