{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "consistent-return": 0,
    "comma-dangle": 0,
    "no-use-before-define": 0,
    "import/no-unresolved": [2, { ignore: ['electron'] }],
    "react/jsx-no-bind": 0,
    "react/prefer-stateless-function": 0
  },
  "plugins": [
    "import",
    "react"
  ],
  "settings": {
    "import/resolver": "webpack"
  }
}
