os: unstable

environment:
  matrix:
    - nodejs_version: 8
    - nodejs_version: 7

cache:
  - node_modules -> package.json
  - app/node_modules -> app/package.json

cache:
  - "%LOCALAPPDATA%/Yarn"

matrix:
  fast_finish: true

build: off

version: '{build}'

shallow_clone: true

clone_depth: 1

install:
  - ps: Install-Product node $env:nodejs_version
  - set CI=true
  - yarn

test_script:
  - node --version
  - npm run lint
  - npm run test
	- npm run package
  - npm run test-e2e
