.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.bundleRow {
  display: table;
  vertical-align: middle;
  height: 50px;
  width: 100%;
}

/* .progress css From https://stackoverflow.com/a/18647217 */
.progress {
  background: -webkit-linear-gradient(left, black 50%, white 50%);
  background: -moz-linear-gradient(left, black 50%, white 50%);
  background: -ms-linear-gradient(left, black 50%, white 50%);
  background: linear-gradient(left, black 50%, white 50%);
}

.leftSide {
  display: table-cell;
  padding-left: 20px;
  vertical-align: middle;
}
.rightSide {
  display: table-cell;
  text-align: right;
  padding-right: 20px;
  vertical-align: middle;
}