.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.username {
  text-align: left;
  left: 10px;


}

.phoneNumber {
  text-align: left;
  left: 10px;
}

.next {
  text-align: left;
  padding-top: 20px;
  left: 10px;
}
