.navBar {
  background: white;
  text-align: center;
  margin-bottom: 10px;
  color: #340636;
}

.navBar p {
  margin: 0;
  padding: 15px;
}

.backButton {
  position: absolute;
  padding: 5px;
}

.backButton a {
  color: #340636;
}

.backButton b {
  padding: 8px;
  font-size: 18px;
  position: relative;
  bottom: 8px;
}
