/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/scss/bootstrap.scss";

html, body {
  height:100%;
}