/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  margin: 0;
  position: relative;
  height: 100vh;
  background-color: #f6f6f6;
  font-family: MaShanZheng, Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

@font-face {
  font-family: 'MaShanZheng';
  src: url('./assets/MaShanZheng.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
