.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
}

.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: pre-wrap;
  font-size: 36px;
  line-height: 60px;
}

.option {
  cursor: pointer;
}
