@font-face {
  font-family: 'ZebulonCondensedBold';
  src: url('../../fonts/Zebulon_Condensed_Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-family: 'ZebulonCondensedBold';
  font-size: 3rem;
  margin: 0;
}

body {
  position: relative;
  color: #090909;
  height: 100vh;
  background: #1D1616;
  font-family: sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

.fixed-header {
  text-align: center;
  padding: 10px; /* Ajoutez du padding pour un meilleur espacement */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre pour un effet visuel */
}

span {
  font-size: 1.5rem;
}


.main {
  row-gap: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(
    100vh - 80px
  );
}

.sub-div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.span-5 {
  grid-column: span 5; /* Cet élément prendra 2 colonnes */
}

.sub-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  gap: 20px;
}

.color-keyboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sub-buttons {
  display: flex;
  gap: 20px;
}

