

.z-db-layou {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  box-sizing: border-box;
  background-color: #fff;
}

[theme-mode=dark] .z-db-layou {
  background-color: transparent !important;
}

.z-db-sider {
  width: 200px;
  height: 100vh;
}
