/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  position: relative;
  color: white;
  height: 100vh;
  background: #141414;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: top;
  margin-left: 540px;
}

/* This is for adding some space between the navbar buttons */
a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

/* This adds some style to the navbar on the left side */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  align-items: flex-start;
  height: 100%;
  background-color: #1a1a1a;
}

/* This is for the text "Quantum" + logo */
.navbar .logo-container {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 310px;
  margin-left: 55px;
}

/* This is for each of the buttons on the navbar */
.btn {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 35px;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
  bottom: 240px;
  left: 10px;
}

.btn:hover {
  color: #fff;
  animation: swoosh 0.4s ease-out 0.2s;
  border: 2px solid #0082d8;
  border-radius: 10px 10px;
}

/* This adds some styling behind & in front of the navbar buttons */
.btn:before,
.btn:after {
  content: "";
  background-color: #0082d8;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  transition: all 0.4s ease-out 0.1s;
}

.btn:after {
  opacity: 0;
  transform: scale(0.9, 0.7);
  left: 0;
  transition: all 0.3s ease-out 0s;
}

.btn:hover:before {
  left: 100%;
}

.btn:hover:after {
  opacity: 0.3;
  transform: scale(1);
}

/* This styling is for when a button gets selected / clicked on*/
.btn.active{
  border: 2px solid #0082d8;
  border-radius: 10px 10px;
  background-color: #0082d8;
  color: white;
}

/* This is for that cool navbar button animation */
@keyframes swoosh {

  0%,
  100% {
    box-shadow: 0 0 0 0 transparent;
  }

  50% {
    box-shadow: 0 0 0 8px rgba(0, 214, 216, 0.3);
  }
}

/* This adjusts the program for mobile devices */
@media only screen and (max-width: 767px) {
  .btn {
    margin-bottom: 20px;
  }
}

/* This adds that fade-in animation to the Dashboard title page text */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* This adds a delay to the dashboard title text fade in animation */
.fadeIn {
  animation: fadeIn 2s;
}

/* This is for those small images next to the navbar buttons' text */
.navbar img {
width: 20px;
  margin-right: 8px;
  position: relative;
  bottom: 2px;
  vertical-align: middle;
}

/* This is also for those small images next to the navbar buttons' text */
.navbar .img-logo{
  right: 20px;
}

/* This is for the Quantum logo at the top of the navbar */
.navbar .logo {
  width: 50px;
  position: relative;
  right: 20px;
}

.container {
  margin-right: 800px;
}

/* This is for the "Quantum" text at the top of the navbar */
.logoname{
  position: relative;
  right: 24px;
  top:1px;
  text-shadow: 2px 2px 2px cyan;
  /* Blue shadow */
}

/* This adds a cool shadow to the dashboard page's title text  */
#header {
  text-shadow: 4px 4px 4px green;
}

/* This adds some curved edges to the navbar's right edges */
.navbar {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}