<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello Electron React!</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script>
    window.electron.ipcRenderer.once('ipc-example', (arg) => {
      // eslint-disable-next-line no-console
      console.log(arg);
    });

    window.electron.ipcRenderer.myPing();
  </script>
</html>
