<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Hello Electron React!</title>
  </head>
  <style>
    body,html {
      height: 100%;
      margin: 0;
    }
  </style>
  <body>
    <div id="root"></div>
  </body>
</html>
